{{template "head" }}
<body>
  <div id="toast" class="hidden transition ease-out"></div>
  <div class="bg-base-100 text-base-content">
    <div class="flex flex-col content-center items-center min-h-screen">
      {{template "header" .}}
      <div class="flex flex-col m-4 space-y-4 w-[720px]">
        <h1 class="p-4 rounded-s bg-base-300 text-primary-content text-2xl text-center">{{.Title}}</h1>
        <div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Status</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
          {{range .Accounts}}
          <tr class="text-secondary-content hover">
            <td>{{.Username}}</td><td>{{.Status}}</td><td>{{.Role}}</td>
            <td><div class="join"><button hx-confirm="Do you really want to delete {{.Username}}?" hx-swap="outerHTML" hx-target="closest tr" hx-delete="/api/users/{{urlquery (printf "%s" .ID)}}" class="btn btn-error join-item">Delete</button></div></td>
          </tr>
          {{end}}
    </tbody>
  </table>
      </div>
      {{template "footer" }}
    </div>
  </div>
</body>
